<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chaitanya.chaitanyart">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ContextRT"
            android:label="Chaitanya Context"/>
        <activity android:name=".ImplicitRT"
            android:label="Chaitanya Implicit Intent" />
        <activity android:name=".ChaitanyaSeek"
            android:label="Chaitanya Seek" />
        <activity android:name=".GalleryRT"
            android:label="Chaitanya Gallery" />
        <activity android:name=".MediaRT"
            android:label="Chaitanya Media"/>
    </application>

</manifest>
